/* 
   Revisions Bookstore and Cafe style sheet 
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit D, Visual Workshop
 */

/* body and page container */
article, body, div, footer, header, h1, h2, p {
    border: 0;
    padding:0;
    margin: 0;
}
body {
    background-color: floralwhite;
    max-width:800px; 
    margin: 0 auto;
    border:solid navy;
    padding:0em
    
 }
 .container {
    background-color: burlywood;
    margin: 0 0 2em 0.5em
  
 }
 
 /* headings */
 header {
    text-align: center;
    padding: 1em;
    color: navy;
    background-color: lightblue;
 }
 
 /* main content */
 article {
    background-color: white;
    width:60%;
    float:right;
    padding: 1em;
   
 }
 article p {margin:0 1em 0.8em 1em;
position:relative;
top:1.5em
}

 /* sidebar */
 aside {
    background-color: burlywood;
 padding:2.5em;
 width:25%;

   
 }
 
 /* footer section */
 footer {
    color: navy;
    background-color: lightblue;
    text-align: right;
    clear: right;
    padding:1em
 }